name: NBB News Bot

on:
  schedule:
    - cron: "*/5 * * * *"  # hər 5 dəqiqə
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install feedparser python-telegram-bot requests googletrans==4.0.0-rc1

      - name: Run bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: python bot.py

      - name: Commit sent_links.txt to prevent duplicates
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add sent_links.txt || echo "No sent_links.txt changes"
          git commit -m "Update sent_links.txt: prevent duplicate news" || echo "No new links to commit"
          git push
