name: NBB News Bot

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install feedparser
          pip install python-telegram-bot
          pip install requests

      - name: Run bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: python bot.py

      - name: Save sent links (prevent duplicates)
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add sent_links.txt || true
          git commit -m "update sent links" || echo "No changes"
          git push
